.footer-container{
    background-color: var(--primary);
    height: 200px;
   .footer-cards{

        display: flex;
        width: 70%;
        margin: 0 auto 0 auto;
        justify-content: space-around;
        .details{
            padding-top: 4%;
            .footer-title{
                font-size: 1.4rem;
                font-family: var((--font-primary));
                color: var(--dark-gray);
            }
            p{
                padding: 20px;
                font-family: var(--font-primary);
                color: var(--tertiary);
            }
        }
        .logo{
            img{
                width: 200px;
                margin-top: 50px;
                margin-left: 100px;
            }
            @media screen and (max-width: 640px){
                display: none;
            }
        }
   }
}