.resume-container{
    .resume-education--cards{
       display: flex;
        width: 80%;
        margin: 0 auto 0 auto;
        flex-wrap: wrap;
        padding-bottom: 90px;
        
        

        .resume-education--card{
            width: 20%;
            display: flex;
            background-color: var(--light-gray);
            margin: 20px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px var(--dark-gray);

            .resume-education--details{
                font-family: var(--font-primary);
                 .resume-education__tag{
                    font-size: .8rem;
                    padding: 10px;
                    color: var(--dark-gray);
                    height: 10%;
                   
                 }

                 .resume-education__title{
                    font-size: 1.1rem;
                    text-align: center;
                    color: var(--tertiary);
                    padding: 5px;
                    text-transform: uppercase;
                    height: 25%;
                 }
                 .resume-education__description{
                    font-size: .9rem;
                    padding: 10px;
                    height: 62%;
                 }
                 .resume-education__button{
                    width: 60px;
                    height: 30px;
                    border-radius: 0 30% 0 0 ;
                    padding: 10px;
                    background-color: var(--primary);
                    border: none;
                    box-shadow: 5px 5px 5px var(--dark-gray);
                    margin-top: auto;

                    
                    a{
                        text-decoration: none;
                        text-align: center;
                        color: var(--tertiary);
                        margin-left: auto;
                        margin-right: auto;;
                        
                    }

                   &:hover{
                        background-color: var(--tertiary);
                        a{
                            color: var(--light-gray);
                        }
                    }
                }
            }

            @media screen and (max-width: 1260px) {
                width: 28%;
            }

            @media screen and (max-width: 1040px) {
                width: 45%;
            }
            @media screen and (max-width: 840px) {
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
           
        }
        @media screen and (max-width: 1040px) {
            width: 95%;
        }
        
    }
}