.display-container{
    
    display: flex;
    background-image: url(../../../../img/background/display-background.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
    background-position: 0 -300px ;

    width: 100%;
    height: 700px;

    padding-top: 100px;
    .display-item{
        padding: 70px 0 70px 0;
        width: 50%;
        text-align: center;
        
        &--title{
            width: 500px;
            margin: 0 auto 0 auto;
            &__img{
               width: 400px;

                @media screen and (max-width: 870px) {
                    width: 200px;
                }
            }

            @media screen and (max-width: 870px) {
                width: 300px;
            }
        }
        &--description{
            font-size: 2.5rem;
            font-family: var(--font-primary);
            color: var(--light-gray);
            width: 60%;

            margin: 60px auto 0 auto;

            @media screen and (max-width: 1270px) {
                font-size: 1.2rem;
                margin-top: 10px;
            }
            @media screen and (max-width: 1270px) {
                font-size: 1.2rem;
            }

        }
        @media screen and (max-width: 1380px) {
            padding: 30px;
        }
        @media screen and (max-width: 1020px) {
            padding: 40px;
        }
        @media screen and (max-width: 980px) {
            padding: 10px;
            margin-left: 40%;
        }
        @media screen and (max-width: 870px) {
            padding: 5px;
            margin-left: 20%;
        }

    }
    .item-left{
        @media screen and (max-width: 1020px) {
            padding: 0;
        }
    }
    #item-right{
        @media screen and (max-width: 1020px) {
            padding-top: 200px;
        }
        @media screen and (max-width: 980px) {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 1430px) {
        background-position: 0 -200px ;
    }

    @media screen and (max-width: 1020px) {
        padding-top: 0;
        display: block;
        width: 200%;
        height: 500px;
    }
    @media screen and (max-width: 980px) {
        width: 100%;
    }
    @media screen and (max-width: 720px) {
        padding-top: 0;
        height: 400px;
        background-position: 0 0 ;
    }


}